<div class="m-2">
    <div
        class="flex gap-4 max-sm:flex-col items-center justify-between text-center bg-gray-100 text-blue-600 px-6 py-3.5 rounded-tr-2xl rounded-tl-2xl font-[sans-serif]">
        <p class="text-xl">Welcome To DevSync!</p>

        <div class="flex gap-2">
            <button type="button" class="bg-white text-blue-500 py-2 px-2.5 rounded text-sm hover:underline shadow">
                <img src="assets/header/Mail Vector Icon (2).svg" alt="" class="w-5 h-5">
            </button>
            <button type="button" class="bg-white text-blue-500 py-2 px-2.5 rounded text-sm hover:underline shadow">
                <img src="assets/header/Notification Bell Icon.svg" alt="" class="w-5 h-5">
            </button>
        </div>
    </div>
</div>