<div class="bg-gray-50 rounded-lg shadow-md p-6 mb-6">
    <h2 class="text-xl font-bold mb-2">Task Completed Status</h2>
    <div class="flex mb-2">
        <p class="text-4xl font-light">589 <span class="text-lg">Tasks</span></p>
    </div>

    <div class="w-full flex bg-gray-200 rounded-full dark:bg-gray-50 mb-1">
        <div class="bg-blue-500 p-0.5 text-white rounded-full text-xs font-medium text-center landing-none" style="width: 66%">66%</div>
    </div>
    <div class="w-full flex bg-gray-200 rounded-full dark:bg-gray-50 mb-1">
        <div class="bg-green-500 p-0.5 text-white rounded-full text-xs font-medium text-center landing-none" style="width: 80%">80%</div>
    </div>
    <div class="w-full flex bg-gray-200 rounded-full dark:bg-gray-50 mb-2">
        <div class="bg-yellow-500 p-0.5 text-white rounded-full text-xs font-medium text-center landing-none" style="width: 70%">70%</div>
    </div>

    <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-blue-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Software </span>
            </div>
            <span class="text-xs text-blue-500 font-medium">154 Tasks</span>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-green-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">HR</span>
            </div>
            <span class="text-xs font-medium text-green-500">97 Tasks</span>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-yellow-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Finance</span>
            </div>
            <span class="text-xs font-medium text-yellow-500">47 Tasks</span>
        </div>
    </div>
</div>