<div class="sticky top-0 z-10 mt-1">
    <app-header></app-header>
</div>

<div class="p-2 sm:p-4">
    <div class="flex flex-col lg:flex-row min-h-screen relative">
        <!-- Main Content Section -->
        <div class="w-full lg:w-9/12 space-y-6">
            <router-outlet></router-outlet>
        </div>

        <!-- Calendar & Meetings Section -->
        <div class="w-full lg:w-3/12 mt-6 lg:mt-0">
            <div class="lg:fixed lg:right-0 lg:mr-3 lg:w-[calc(20%-1rem)]">
                <!-- Calendar -->
                <section>
                    <app-calendar></app-calendar>
                </section>

                <!-- Meetings -->
                <section class="mt-4">
                    <app-meetings></app-meetings>
                </section>
            </div>
        </div>
    </div>
</div>