<div class="flex mx-5">
    <div class ="w-full">
        <app-chart-new-hires></app-chart-new-hires>
    </div>

</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
            <tr>
                <th scope="col" class="px-6 py-3">Employee Id</th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">Name</div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">Department</div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">Role</div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">Position</div>
                </th>
                <th scope="col" class="px-16 py-3">
                    <div class="flex items-center">Contact No.</div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">Join Date</div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">Status</div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="flex items-center">Operations</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Delete</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">EMP00001</th>
                <td class="px-6 py-4">John Doe</td>
                <td class="px-6 py-4">HR</td>
                <td class="px-6 py-4">Manager</td>
                <td class="px-6 py-4">Head</td>
                <td class="px-6 py-4">+91 123 456 7890</td>
                <td class="px-6 py-4">01/01/2018</td>
                <td class="px-6 py-4"><span class="flex items-center text-sm font-medium text-gray-900 me-3"><span
                            class="flex w-2.5 h-2.5 bg-green-500 rounded-full me-1.5 flex-shrink-0"></span>Active</span>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Update</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-red-600 hover:underline">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>