<div class="mx-auto bg-white p-4 rounded-lg shadow-md">
    <section class="w-full"> 
        <app-cards-sw-pj></app-cards-sw-pj>
    </section>
    
    <section class="w-full mt-5 lg:mt-5">
        <div class="flex gap-5">
            <div class="w-1/2">
                <app-table-sw></app-table-sw>
            </div>
            <div class="w-1/2">
                <app-table-sw-pf></app-table-sw-pf>
            </div>
        </div>
    </section>
    
    <section class="w-full mt-5 lg:mt-5">
        <div>
            <app-project-table-sw></app-project-table-sw>
        </div>
    </section>
</div>