<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 max-sm: m-auto">

    <div
        class="w-full max-w-md p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6">
        <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900">Selected Candidates</h5>
            <a href="#" class="text-sm font-medium text-blue-600 hover:underline">
                View all
            </a>
        </div>
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200">
                <li class="py-3 sm:py-3">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full border-2 border-blue-300" src="/docs/images/people/profile-picture-1.jpg"
                                alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text-sm font-medium text-gray-900 truncate">
                                Neil Sims
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                                email.windster.com
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900">
                            <a href="#" class="inline-flex items-center px-2 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:outline-none">Send offer Letter</a>
                        </div>
                    </div>
                </li>

                <li class="py-3 sm:py-3">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full border-2 border-blue-300" src="/docs/images/people/profile-picture-1.jpg"
                                alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text-sm font-medium text-gray-900 truncate">
                                Neil Sims
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                                email.windster.com
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900">
                            <a href="#" class="inline-flex items-center px-2 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:outline-none">Send offer Letter</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>



    <div
        class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8">
        <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900">Rejected Candidates</h5>
            <a href="#" class="text-sm font-medium text-blue-600 hover:underline">
                View all
            </a>
        </div>
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg"
                                alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text-sm font-medium text-gray-900 truncate">
                                Neil Sims
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                                email.windster.com
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900">
                            <div class="flex bg-red-600 hover:bg-red-700 px-3 py-1 rounded-full">
                                <button type="button" class="text-white focus:outline-none font-medium text-sm text-center">In HR</button>
                            </div> 
                        </div>
                    </div>
                </li>

                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg"
                                alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text-sm font-medium text-gray-900 truncate">
                                Neil Sims
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                                email.windster.com
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900">
                            <div class="flex bg-red-600 hover:bg-red-700 px-3 py-1 rounded-full">
                                <button type="button" class="text-white focus:outline-none font-medium text-sm text-center">In Technical</button>
                            </div> 
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>