<!-- Cards Section -->
<section class="w-full">
    <app-cards></app-cards>
</section>

<!-- Chart & Table Section -->
<section class="w-full mt-10 lg:mt-10">
    <div class="flex gap-5">
        <!-- Job Levels Chart -->
        <div class="w-1/2">
            <app-job-levels></app-job-levels>
        </div>

        <!-- Marital Status Chart -->
        <div class="w-1/2">
            <app-task-completed></app-task-completed>   
        </div>
    </div>

    <!-- Main Chart -->
    <app-chart></app-chart>

    <!-- Table -->
    <div class="mt-6">
        <app-table></app-table>
    </div>
</section>