<div class="bg-gray-50 rounded-lg shadow-md p-6 mb-6 ">
    <h2 class="text-xl font-bold mb-3">Gender Status</h2>
    <div class="flex mb-3">
        <p class="text-4xl font-light">254 <span class="text-lg">People</span></p>
    </div>

    <div class="w-full flex bg-gray-200 rounded-full h-2.5 dark:bg-gray-50 mb-4">
        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 64.2%"></div>
        <div class="bg-orange-500 h-2.5 rounded-full" style="width: 35.8%"></div>
    </div>

    <div class="grid grid-cols-2 gap-6">
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-blue-600 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Male</span>
            </div>
            <span class="text-xs text-blue-600 font-medium">64.2 %</span>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-orange-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Female</span>
            </div>
            <span class="text-xs font-medium text-orange-500">38.5 %</span>
        </div>
    </div>
    <div class="mt-2">
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-blue-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Married Status</span>
            </div>
            <span class="text-xs font-medium text-red-500">58 %</span>
        </div>
    </div>
</div>