<div class="bg-gray-50 rounded-lg shadow-md p-6 mb-6">
    <h2 class="text-xl font-bold mb-3">Job Levels</h2>
    <div class="flex mb-3">
        <p class="text-4xl font-light">254 <span class="text-lg">People</span></p>
    </div>

    <div class="w-full flex bg-gray-200 rounded-full h-2.5 dark:bg-gray-50 mb-4">
        <div class="bg-blue-500 h-2.5 rounded-full" style="width: 56%"></div>
        <div class="bg-green-500 h-2.5 rounded-full" style="width: 15%"></div>
        <div class="bg-yellow-500 h-2.5 rounded-full" style="width: 24%"></div>
        <div class="bg-red-500 h-2.5 rounded-full" style="width: 5%"></div>
    </div>

    <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-blue-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Intermediate</span>
            </div>
            <span class="text-xs text-blue-500 font-medium">144 People</span>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-green-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Manager</span>
            </div>
            <span class="text-xs font-medium text-green-500">40 People</span>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-yellow-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Director</span>
            </div>
            <span class="text-xs font-medium text-yellow-500">56 People</span>
        </div>
    </div>
    <div class="mt-2">
        <div class="flex flex-col items-center">
            <div class="flex">
                <div class="bg-red-500 w-2 h-2 rounded-full mr-1 mt-1.5"></div>
                <span class="text-gray-700 text-sm">Senior Executive</span>
            </div>
            <span class="text-xs font-medium text-red-500">14 People</span>
        </div>
    </div>
</div>