<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 max-sm: m-auto">
    <!-- Headcount Card -->
    <div
        class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-4">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Employees SVG Icon.svg"
                    class="w-8 h-8 border-2 rounded-full border-blue-500" alt="">
                <h3 class="text-base font-semibold">Headcount</h3>
            </div>
            <p class="text-4xl text-center text-gray-500 leading-relaxed">
                4289
            </p>
        </div>
        <div class="flex items-center justify-between text-center bg-blue-400 p-10"></div>
    </div>

    <!-- New Hires Card -->
    <div
        class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-4">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Add User Business Man Icon.svg"
                    class="w-8 h-8 border-2 rounded-full border-blue-500" alt="">
                <h3 class="text-base font-semibold">New Hires</h3>
            </div>
            <p class="text-4xl text-center text-gray-500 leading-relaxed">
                1289
            </p>
        </div>
        <div class="flex items-center justify-between text-center bg-blue-400 p-10"></div>
    </div>

    <!-- Total Applicants Card -->
    <div
        class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-4">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Male Applicants Job Icon.svg"
                    class="w-8 h-8 border-2 rounded-full border-blue-500" alt="">
                <h3 class="text-base font-semibold">Total Applicants</h3>
            </div>
            <p class="text-4xl text-center text-gray-500 leading-relaxed">
                4874
            </p>
        </div>
        <div class="flex items-center justify-between text-center bg-blue-400 p-10"></div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-5">
    <div
        class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-4">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Completed Checkmark Icon.svg" class="w-8 h-8 rounded-full"
                    alt="">
                <h3 class="text-base font-semibold">Completed Projects</h3>
            </div>
            <p class="text-4xl text-center text-gray-500 leading-relaxed">
                583
            </p>
        </div>
        <div class="flex items-center justify-between text-center bg-blue-400 p-10"></div>
    </div>

    <div
        class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-4">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Calendar Event Available Icon.svg"
                    class="w-8 h-8 border-1 rounded-md border-blue-500" alt="">
                <h3 class="text-base font-semibold">Upcoming Projects</h3>
            </div>
            <p class="text-4xl text-center text-gray-500 leading-relaxed">
                158
            </p>
        </div>
        <div class="flex items-center justify-between text-center bg-blue-400 p-10"></div>
    </div>

    <div
        class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-4">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Line Chart Icon (1).svg"
                    class="w-8 h-8 border-1 rounded-md border-blue-500" alt="">
                <h3 class="text-sm font-semibold">Average Performance</h3>
            </div>
            <p class="text-4xl text-center text-gray-500 leading-relaxed">
                78 <span>%</span>
            </p>
        </div>
        <div class="flex items-center justify-between text-center bg-blue-400 p-10"></div>
    </div>

</div>