<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 max-sm: m-auto">
    <!-- Headcount Card -->
    <div
        class="bg-gray-200 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden p-0.5">
        <div class="p-3 rounded-lg bg-white">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Employees SVG Icon.svg"
                    class="w-6 h-6 border-2 rounded-full border-blue-500" alt="">
                <h3 class="text-base font-normal">Headcount</h3>
            </div>
            <p class="text-4xl font-light text-gray-500 leading-relaxed mt-1">4289 <span class="text-sm">People</span></p>
        </div>
        
    </div>

    <!-- New Hires Card -->
    <div
        class="bg-gray-200 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden p-0.5">
        <div class="p-3 rounded-lg bg-white">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Add User Business Man Icon.svg"
                    class="w-6 h-6 border-2 rounded-full border-blue-500" alt="">
                <h3 class="text-base font-normal">New Hires</h3>
            </div>
            <p class="text-4xl font-light text-gray-500 leading-relaxed mt-1">1289 <span class="text-sm">People</span></p>
        </div>
    </div>

    <!-- Total Applicants Card -->
    <div
        class="bg-gray-200 p-0.5 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-3 rounded-lg bg-white">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Male Applicants Job Icon.svg"
                    class="w-6 h-6 border-2 rounded-full border-blue-500" alt="">
                <h3 class="text-base font-normal">Total Applicants</h3>
            </div>
            <p class="text-4xl font-light text-gray-500 leading-relaxed mt-1">4874 <span class="text-sm">People</span></p>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-5">
    <div
        class="bg-gray-200 p-0.5 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-3 rounded-lg bg-white">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Completed Checkmark Icon.svg" class="w-6 h-6 rounded-full"
                    alt="">
                <h3 class="text-base font-normal">Completed Projects</h3>
            </div>
            <p class="text-4xl font-light mt-1 text-gray-500 leading-relaxed">583 <span class="text-sm">Projects</span></p>
        </div>
    </div>

    <div
        class="bg-gray-200 p-0.5 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-3 rounded-lg bg-white">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Calendar Event Available Icon.svg"
                    class="w-6 h-6 border-1 rounded-md border-blue-500" alt="">
                <h3 class="text-base font-normal">Upcoming Projects</h3>
            </div>
            <p class="text-4xl font-light mt-1 text-gray-500 leading-relaxed">158 <span class="text-sm">Projects</span></p>
        </div>
    </div>

    <div
        class="bg-gray-200 p-0.5 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] h-32 rounded-lg font-[sans-serif] overflow-hidden">
        <div class="p-3 rounded-lg bg-white">
            <div class="flex items-center space-x-3">
                <img src="assets/dashboard/Line Chart Icon (1).svg"
                    class="w-6 h-6 border-1 rounded-md border-blue-500" alt="">
                <h3 class="text-sm font-normal">Average Performance</h3>
            </div>
            <p class="text-4xl font-light mt-1 text-gray-500 leading-relaxed">78 <span class="text-sm">%</span></p>
        </div>
    </div>

</div>